/*

Base styles

*/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 1.45;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.container-light {
    background: #D96459;
    color: #F2E394;
}

.container-dark {
    background: #333;
    color: #efe;
}

/*

Hero styles

*/
.hero-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.hero-container .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #efe;
}

/* 

navigation:
modified from
http://codepen.io/joe-watkins/pen/nGaID 

*/
.mobile-nav-bar {
  background: #333;
  min-height: 47px;
  width: 100%;
  position: fixed;
  cursor: pointer;
  z-index: 20;
}
.mobile-nav-bar .mobile-nav-button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  width: 31px;
  height: 30px;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.mobile-nav-bar .mobile-nav-button .bar {
  width: 100%;
  float: left;
  height: 4px;
  margin-bottom: 5px;
  background-color: white;
}
.mobile-nav-bar .mobile-nav-button .bar:last-of-type {
  margin-bottom: 0;
}

.mobile-nav {
  height: 0;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 47px;
}
.mobile-nav ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  transform: translate(0, -300px);
  -ms-transform: translate(0, -300px);
  -webkit-transform: translate(0, -300px);
  transition: all .2s ease-in-out;
}
.mobile-nav ul li a {
  background: #222;
  border-bottom: solid #555 1px;
  color: white;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.mobile-nav ul li a:active {
  background: maroon;
}
.mobile-nav ul li a:hover {
    background: #444;
}
.mobile-nav.show-mobile-nav {
  height: auto;
}
.mobile-nav.show-mobile-nav ul {
  transform: translate(0px);
  -ms-transform: translate(0px);
  -webkit-transform: translate(0px);
}


/* 

Footer 

*/

footer ul {
    list-style: none;
    text-align: center;
}

footer ul li {
    margin: 5px;
}

footer ul li a {
    text-decoration: none;
    color: #efe;
}
footer ul li a:hover {
    color: #eee;
    font-size: 19px;
}

@media screen and (min-width: 460px) {
    footer ul li { display: inline-block; }
}